# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Generated dirs
dist
/lib

# Env
.env

# VSCode
.vscode

# OSX
**/.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk